<section>
  <nav>
    <a class="navbar-brand" href="/">
      <div class="logo-image">
        <img src="/images/logoimage.png"
          class="img-fluid"/>
      </div>
    </a>
    <details>
      <summary></summary>
      <nav class="menu">
        <a href="/wallet">Wallet</a>
        <a href="/inspiration">Inspiration</a>
        <a href="/numbers">Numbers</a>
        <a href="/logout">Logout</a>
      </nav>
    </details>
  </nav>
</section>
