<section>
  <nav>
    <a class="navbar-brand">
      <div class="logo-image">
        <img src="/images/logoimage.png"
          class="img-fluid"/>
      </div>
    </a>
    <nav role="navigation">
  <div id="menuToggle">
     <input type="checkbox" />
     <span></span>
    <span></span>
    <span></span>
    
      <ul id="menu"> 
        <a href="/wallet"><li> Wallet</li></a>
        <a href="/inspiration"><li> Inspiration</li></a>
         <a href="/numbers"><li> Numbers</li></a>
        <a href="/logout"><li> Logout</li></a>
        </ul>
        </div>
  </nav>
</section>

<section class = "inspirations-list">
  {{#each inspirations}}
  <h5>{{tag}}</h5>
  <p>{{text}}</p>
   {{/each}}
</section>

<section class="inspiration-form" >

  <form action="/inspiration" method="POST">
  <textarea id='inspiration' rows='10', name='text' placeholder="Add your idea here"></textarea>
  <br>
  <select name="tag" id="tag">
    
    <option value="Groceries">Groceries</option>
    <option value="Restaurant">Restaurant</option>
    <option value="Entertainment">Entertainment</option>
    <option value="Shopping">Shopping</option>
    <option value="Transportation">Transportation</option>
    <option value="Home">Home</option>
    <option value="Health">Health</option>
    <option value="Sport">Sport</option>
    <option value="Subscriptions">Subscriptions</option>
    <option value="Other">Other</option>
  
  </select>

  <button type="submit">Add your idea</button>

  </form>

</section>


<p>{{biggestTag}}</p>




