<section>
  <nav>
    <a class="navbar-brand">
      <div class="logo-image">
        <img src="/images/logoimage.png"
          class="img-fluid"/>
      </div>
    </a>
    <nav role="navigation">
  <div id="menuToggle">
     <input type="checkbox" />
     <span></span>
    <span></span>
    <span></span>
    
      <ul id="menu"> 
        <a href="/wallet"><li> Wallet</li></a>
        <a href="/inspiration"><li> Inspiration</li></a>
         <a href="/numbers"><li> Numbers</li></a>
        <a href="/logout"><li> Logout</li></a>
        </ul>
        </div>
  </nav>
</section>

<h1>General overview</h1>
<div>
  <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-znfoo/embed/charts?id=d37964a2-d4d3-420b-8bb6-b74cb30b807c&maxDataAge=10&theme=light&autoRefresh=true"></iframe>
</div>

<div class="wrapper">
  <div class="container">
    <div class="title">
      <h1>Your overview</h1>
    </div>
       <div class="chart-wrapper">
      <canvas id="myChart"></canvas>
       </div>
  </div>
</div>

