<section>
  <nav>
    <a class="navbar-brand">
      <div class="logo-image">
        <img src="/images/logoimage.png"
          class="img-fluid"/>
      </div>
    </a>
    <nav class="navigation">
  <div class="menuToggle">
     <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    
      <ul class="menu"> 
        <a href="/wallet"><li> Wallet</li></a>
        <a href="/inspiration"><li> Inspiration</li></a>
         <a href="/numbers"><li> Numbers</li></a>
        <a href="/logout"><li> Logout</li></a>
        </ul>
        </div>
  </nav>
</section>

<div class="container-wallet">
<section class="transaction-form" >

  <form action="/transaction" method="POST">

  <input
      id="transaction"
      type="number"
      step="any" 
      name="transaction"
      placeholder="0€"
    />
  <select name="tag" id="tag">
    
    <option value="Groceries">Groceries</option>
    <option value="Restaurant">Restaurant</option>
    <option value="Entertainment">Entertainment</option>
    <option value="Shopping">Shopping</option>
    <option value="Transportation">Transportation</option>
    <option value="Home">Home</option>
    <option value="Health">Health</option>
    <option value="Sport">Sport</option>
    <option value="Subscriptions">Subscriptions</option>
    <option value="Other">Other</option>
  
  </select>

  <button>Add Expenses</button>

  </form>

</section>

<section class="transactions-list">
  <h2 class="balance">Balance: -{{result}}€</h1>
  <h2 class="section-title">Expenses</h2>
  <div class="text-white">
  {{#each transactions}}
  <p><b>-{{transaction}}€</b> → {{tag}}</p>
  {{/each}}
  </div>
 <form action="/wallet">
    <input class="show-all" type="submit" value="Show less" />
</form>

</section>
</div>