<section>
  <nav>
    <a class="navbar-brand" href="/">
      <div class="logo-image">

        <img src="/images/logoimage.png"
          class="img-fluid"/>

      </div>
    </a>
    <details>
      <summary></summary>
      <nav class="menu">
        <a href="/wallet">Wallet</a>
        <a href="/inspiration">Inspiration</a>
        <a href="/numbers">Numbers</a>
        <a href="/logout">Logout</a>
      </nav>
    </details>
  </nav>
</section>


<section class="transaction-form" >

  <form action="/transaction" method="POST">

  <input
      id="transaction"
      type="number"
      step="01"
      name="transaction"
      placeholder="0€"
      value= 0
    />
  <select name="tag" id="tag">
    
    <option value="groceries">Groceries</option>
    <option value="restaurant">Restaurant</option>
    <option value="going-out">Going Out</option>
    <option value="shopping">Shopping</option>
    <option value="transportation">Transportation</option>
    <option value="home">Home</option>
    <option value="health">Health</option>
    <option value="sport">Sport</option>
    <option value="subscriptions">Subscriptions</option>
    <option value="other">Other</option>
  
  </select>

  <select name="sign" id="sign">
        <option value="-">- Expense</option>
        <option value="+">+ Income</option>
  </select>
  <button>Add</button>


  </form>

</section>

<section class="transactions-list">
  {{#each transactions}}
  <h5><span>{{sign}}</span>{{transaction}}</h5>
  <p>{{tag}}</p>
  {{/each}}
   <form action="/wallet">
    <input type="submit" value="Show less" />
</form>

<h1>Balance: {{result}}</h1>

  </section>