<section>
  <nav>
    <a class="navbar-brand">
      <div class="logo-image">
        <img src="/images/logoimage.png"
          class="img-fluid"/>
      </div>
    </a>
    <nav class="navigation">
  <div id="menuToggle">
     <input type="checkbox" />
     <span></span>
    <span></span>
    <span></span>
    
      <ul id="menu"> 
        <a href="/wallet"><li> Wallet</li></a>
        <a href="/inspiration"><li> Inspiration</li></a>
         <a href="/numbers"><li> Numbers</li></a>
        <a href="/logout"><li> Logout</li></a>
        </ul>
        </div>
  </nav>
</section>


<section class="transaction-form" >

  <form action="/transaction" method="POST">

  <input
      id="transaction"
      type="number"
      step="01"
      name="transaction"
      placeholder="0€"
      value= 0
    />
  <select name="tag" id="tag">
    
    <option value="Groceries">Groceries</option>
    <option value="Restaurant">Restaurant</option>
    <option value="Entertainment">Entertainment</option>
    <option value="Shopping">Shopping</option>
    <option value="Transportation">Transportation</option>
    <option value="Home">Home</option>
    <option value="Health">Health</option>
    <option value="Sport">Sport</option>
    <option value="Subscriptions">Subscriptions</option>
    <option value="Other">Other</option>
  
  </select>

<button>Add your expenses</button>

  </form>

</section>

<section class="transactions-list">
  {{#each transactions}}
  <h5><span>-</span>{{transaction}}</h5>
  <p>{{tag}}</p>
  {{/each}}
   <form action="/wallet">
    <input type="submit" value="Show less" />
</form>

<h1>Balance: -{{result}}</h1>

  </section>